<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons|Ubuntu+Mono">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
          integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css"
          integrity="sha256-HbgiGHMLxHZ3kkAiixyvnaaZFNjNWLYKD/QG6PWaQPc=" crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/atom-one-light.min.css">

    <title>SparkDown - Editor</title>

    <style>
        /*body, .markdown-body {*/
        /*    font-family: 'Ubuntu Mono', sans-serif !important;*/
        /*}*/

        .col {
            padding: 0;
        }

        .md-src-form {
            margin-bottom: 0;
        }

        .md-src-div {
            padding-top: 0;
            margin-bottom: 0;
        }

        .left, .left:focus {
            padding: 1rem;
            background-image: none;
            resize: none;
            height: 100vh;
            background-color: whitesmoke;
            font-size: 1rem;
            overflow-y: auto;
        }

        .right {
            height: 100vh;
            padding: 1rem;
            overflow-y: auto;
            word-break: break-word;
        }

        .right img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        .right mjx-math {
            margin-left: 0.25rem;
            margin-right: 0.25rem;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form class="md-src-form">
                <div class="form-group bmd-form-group md-src-div">
                    <textarea class="form-control left" id="md-src" ondrop="dropHandler(event);"
                              ondragover="dragOverHandler(event);"></textarea>
                </div>
            </form>
        </div>
        <div class="col">
            <div class="md-out-div">
                <div class="right markdown-body" id="md-output">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- Fix jQuery in Electron.js -->
<script>if (typeof module === 'object') {
    window.module = module;
    module = undefined;
}</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
<script>if (window.module) module = window.module;</script>

<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<!-- SnackbarJS plugin -->
<script src="https://cdn.jsdelivr.net/gh/FezVrasta/snackbarjs@1.1.0/dist/snackbar.min.js"></script>

<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        $('body').bootstrapMaterialDesign();
    });
</script>

<!-- Customized JavaScript -->
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
    MathJax = {
        tex: {
            inlineMath: [['$$', '$$'], ['\\(', '\\)']]
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    const {ipcRenderer} = require('electron');
    ipcRenderer.on('render-md-result', (event, md_result) => {
        // console.log(md_result);
        document.getElementById('md-output').innerHTML = md_result;

        // adjust output
        let eleList = document.getElementsByTagName('code');
        for (let ele of eleList) {
            if (ele.className.includes('language-alert-') && ele.className.split('-')[2] !== '') {
                let alertType = ele.className.split('-')[2];
                console.log('adjusting for alerts');
                ele.parentElement.outerHTML = `<div class="alert alert-${alertType}" role="alert">${ele.innerText}</div>`
            }
        }

        // code highlight
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });

        MathJax.typeset();
    });

    ipcRenderer.on('user-settings-result', (event, settings_result) => {
        // document.getElementsByTagName('body')[0].style.fontFamily = settings_result['fontFamily'];
        console.log('User settings applied.');
    });

    document.getElementById('md-src').addEventListener('keyup', render_md);
    let md_src_ele = document.getElementById('md-src');

    function render_md() {
        // console.log('prepare to render:', md_src_ele.value);
        ipcRenderer.send('render-md', md_src_ele.value);
    }

    ipcRenderer.send('request-user-settings');

    async function dropHandler(event) {
        console.log('File(s) dropped');

        // Prevent default behavior (Prevent file from being opened)
        event.preventDefault();
        // Use DataTransferItemList interface to access the file(s)
        for (let i = 0; i < event.dataTransfer.files.length; i++) {
            console.log('... file[' + i + '].name = ' + event.dataTransfer.files[i].name);
            let file = event.dataTransfer.files[i];
            let dropFile = {
                'name': file.name,
                'path': file.path,
            };
            console.log(dropFile);
            ipcRenderer.send('md-process-drag-drop', dropFile);
        }
    }

    function dragOverHandler(event) {
        // Prevent default behavior (Prevent file from being opened)
        event.preventDefault();
    }

    ipcRenderer.on('put-md-src', (event, new_md_src) => {
        md_src_ele.value = new_md_src;
        ipcRenderer.send('render-md', md_src_ele.value);
    });

    ipcRenderer.on('patch-md-src', (event, delta_md_src) => {
        md_src_ele.value += delta_md_src;
        ipcRenderer.send('render-md', md_src_ele.value);
    });

    ipcRenderer.on('get-md-src', (event) => {
        ipcRenderer.send('get-md-src-result', md_src_ele.value);
    });
</script>
<script>
    const remote = require('electron').remote;
    const Menu = remote.Menu;
    const MenuItem = remote.MenuItem;

    const contextMenuTemplate = [
        {
            role: 'undo'
        },
        {
            role: 'redo'
        },
        {
            type: 'separator'
        },
        {
            role: 'cut'
        },
        {
            role: 'copy'
        },
        {
            role: 'paste'
        },
        {
            role: 'delete'
        },
        {
            type: 'separator'
        },
        {
            role: 'selectAll'
        }];
    const menu = Menu.buildFromTemplate(contextMenuTemplate);
    document.addEventListener('contextmenu', (event) => {
        event.preventDefault();
        menu.popup();
    }, false)
</script>
</body>
</html>