<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons|Ubuntu+Mono">

    <title>SparkDown - Settings</title>
    <style>
        .settings {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="settings">
        <form>
            <div class="form-group">
                <label for="fontFamily">Font Family</label>
                <input type="text" id="fontFamily" class="form-control">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" id="emmet-check" class="form-check-input">
                <label for="emmet-check">Enable Emmet Support</label>
            </div>
            <button class="btn btn-primary" id="apply-btn">Apply</button>
            <button class="btn btn-secondary" id="ok-btn">OK</button>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    const { ipcRenderer } = require('electron');

    document.getElementById('apply-btn').addEventListener('click',() => {
        let new_settings = {
            'fontFamily': document.getElementById('fontFamily').value
        };
        ipcRenderer.send('change-user-settings', new_settings);
    });

    document.getElementById('ok-btn').addEventListener('click',() => {
        ipcRenderer.send('close-settings-window');
    });

    ipcRenderer.on('user-settings-result', (event, settings_result) => {
        document.getElementsByTagName('body')[0].style.fontFamily = settings_result['fontFamily'];
        console.log('User settings applied.');
    });

    ipcRenderer.send('request-user-settings');
    ipcRenderer.on('user-settings-result', (event, settings_result) => {
        document.getElementById('fontFamily').value = settings_result['fontFamily'];
        console.log('User settings received.');
    });
</script>
</body>
</html>